services:
  app:
    build: .
    container_name: subnetwork_system_prod
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    env_file:
      - .env.prod
    environment:
      - APP_ENV=prod
    restart: unless-stopped
  postgres:
    image: postgres:15
    container_name: subnetwork_system_database_prod
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
