services:
  postgres_dev:
    image: postgres:15
    container_name: subnetwork_system_database_dev
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/seed:/docker-entrypoint-initdb.d
  clickhouse_dev:
    image: clickhouse/clickhouse-server:latest
    container_name: subnetwork_system_clickhouse_dev
    environment:
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./sql/clickhouse:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
  clickhouse_data:
